@media (min-width: 1200px)
    a,  button 
        &:hover
            cursor: pointer
    .header
        &-menu
            &__link
                &:hover 
                    background-color: #DD3934
                    color: #fff
    .faq
        &-wrapper
            &__preview
                &:hover
                    color: #fff 
                    padding: 35px 40px
                    background: linear-gradient(233.54deg, rgba(95, 76, 142, 0.2) 28.75%, rgba(228, 42, 42, 0.2) 52.12%, rgba(26, 8, 51, 0.2) 88.11%), radial-gradient(25% 30.33% at 25% 30.33%, rgba(160, 32, 103, 0.3) 0%, rgba(26, 9, 51, 0.3) 100%), #1A0933
    .team
        &-bottom
            &__btn
                &:hover
                    background-color: #FFDE01 
        &-button
            &:hover
                opacity: 0.7  
@media (max-width: 1350px)
    .social
        justify-content: flex-end
        min-width: 0
        &-block
            &__text
                display: none
@media (max-width: 1200px)
    .container
        max-width: 960px
    .logo
        width: 188px
    .header
        &-menu
            &__link
                font-size: 16px
                line-height: 20px
                padding: 15px
                &:hover
                    background-color: inherit
                    color: #000
    .social
        &-block
            cursor: default
            &__text
                font-size: 14px
                line-height: 17px
            &__image
                width: 45px
                height: 45px
    .stage
        &__title
            font-size: 50px
            line-height: 120%
        &-grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(3, min-content)
            &__item
                width: 364px
                height: 261px
                padding-bottom: 20px
                &--one
                    grid-row: 1
                    grid-column: 1
                &--four
                    display: none
                &--five
                    grid-row: 3px
                    grid-column: 1
            &__text
                font-size: 18px
                line-height: 150%
    .team
        &__title
            font-size: 50px
        &-wrapper
            width: 70%
            margin: auto
            &__item
                margin-bottom: 20px
@media (max-width: 992px)
    .container
        max-width: 760px
    .logo
        margin-right: 20px
    .stage
        padding: 60px 0
    .team
        padding: 60px 0
        &-wrapper
            width: 80%
            &__item
                &:nth-child(2) 
                    margin-right: 0
    .faq
        padding: 60px 0
        &__title
            font-size: 35px
            line-height: 120%
        &-wrapper
            &__question
                font-size: 25px
                line-height: 150%
            &__discription
                font-size: 20px
                line-height: 170%
@media (max-width: 783px)
    .social 
        display: none
    .header
        &-navbar
            display: none
        &-bottom
            &__social
                display: flex
                justify-content: flex-start
    .menu
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 30px
        height: 30px
        border: none
        background-color: #fff
        &__line
            width: 27px
            height: 2px
            background-color: #000   
            &:nth-child(4)
                width: 13px
    .social
        &-block
            margin-right: 45px
            &__image
                width: 36px
                height: 36px
            &__text
                display: inline-block
    .team
        &-wrapper
            width: 100%
    .faq
        &-wrapper
            width: 95%
            margin: auto
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 93%
    .stage
        &__title
            font-size: 35px
        &-grid
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            &__item
                &--one
                    height: 190px
                    order: 1
                    background-size: 30%
                &--two
                    height: 144px
                    order: 2
                &--three
                    height: 170px
                    order: 3
                    background-size: 50%
                &--five
                    order: 5
                    height: 144px
                &--six
                    order: 4
                    height: 170px
                    background-size: 25%
                &--seven
                    height: 170px
                    order: 6
                    background-size: 25%
            &__text
                font-size: 16px
                line-height: 150% 
            &__num
                font-size: 20px
                line-height: 120%
    .faq
        padding: 40px 0
        &__title
            font-size: 35px
        &-wrapper
            &__question
                font-size: 20px
                line-height: 150%
            &__discription
                font-size: 16px
                line-height: 150%
            &__btn
                width: 20px
                height: 20px
                padding: 0
            &__img
                width: 100%
                height: 100%
@media (max-width: 605px)
    .stage
        padding: 40px 0
    .team
        padding: 40px 0
        &-wrapper
            width: 95%
            display: flex
            flex-direction: column
            align-items: center
            &__item
                margin: 0
                margin-bottom: 20px
@media (max-width: 480px)
    .stage
        &-grid
            &__item
                width: 100%
    .team
        &__title
            font-size: 35px
    .faq
        &-wrapper
            &__question
                max-width: 250px
    .logo
        width: 148px
    
                