@media (min-width: 1200px)
    a,  button 
        &:hover
            cursor: pointer
    .header
        &-menu
            &__link
                &:hover 
                    background-color: #DD3934
                    color: #fff
    .faq
        &-wrapper
            &__preview
                &:hover
                    color: #fff 
                    padding: 35px 40px
                    background: linear-gradient(233.54deg, rgba(95, 76, 142, 0.2) 28.75%, rgba(228, 42, 42, 0.2) 52.12%, rgba(26, 8, 51, 0.2) 88.11%), radial-gradient(25% 30.33% at 25% 30.33%, rgba(160, 32, 103, 0.3) 0%, rgba(26, 9, 51, 0.3) 100%), #1A0933
    .team
        &-bottom
            &__btn
                &:hover
                    background-color: #FFDE01 
        &-button
            &:hover
                opacity: 0.7  
@media (max-width: 1350px)
    .social
        justify-content: flex-end
        min-width: 0
        &-block
            &__text
                display: none
@media (max-width: 1200px)
    .container
        max-width: 960px
    .logo
        width: 188px
    .header
        &-menu
            &__link
                font-size: 16px
                line-height: 20px
                padding: 15px
                &:hover
                    background-color: inherit
                    color: #000
    .social
        &-block
            cursor: default
            &__text
                font-size: 14px
                line-height: 17px
            &__image
                width: 45px
                height: 45px
@media (max-width: 992px)
    .container
        max-width: 760px
    .logo
        margin-right: 20px
@media (max-width: 783px)
    .social 
        display: none
    .header
        &-navbar
            display: none
        &-bottom
            &__social
                display: flex
                justify-content: flex-start
    .menu
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 30px
        height: 30px
        border: none
        background-color: #fff
        &__line
            width: 27px
            height: 2px
            background-color: #000   
            &:nth-child(4)
                width: 13px
    .social
        &-block
            margin-right: 45px
            &__image
                width: 36px
                height: 36px
            &__text
                display: inline-block
@media (max-width: 768px)
    .container
        max-width: 576px
        width: 93%
@media (max-width: 480px)
    .logo
        width: 148px
    
                