.header
   padding: 20px 0
   &-wrapper
      max-width: 1760px
      margin: auto
      display: flex
      justify-content: space-between
      align-items: center
   &-navbar
      flex-grow: 2
      margin-right: 444px
   &-menu
      padding: 0
      margin: 0
      display: flex
      justify-content: space-between
      align-items: center
      flex-grow: 1
      &__item
         list-style: none
      &__link
         padding: 14px 25px
         border-radius: 10px
.logo
   margin-right: 70px
.social
   display: flex
   justify-content: space-between
   align-items: center
   min-width: 400px
   &-block
      display: flex
      align-items: center
      &__image
         margin-left: 25px
