.header
   padding: 20px 0
   z-index: 3
   &-wrapper
      max-width: 95%
      margin: auto
      display: flex
      justify-content: space-between
      align-items: center
   &-block
      display: flex
      justify-content: space-between
      align-items: center
   &-navbar
   &-menu
      padding: 0
      margin: 0
      display: flex
      justify-content: space-between
      align-items: center
      flex-grow: 1
      &__item
         list-style: none
         z-index: 100
      &__link
         padding: 14px 25px
         border-radius: 10px
         font-weight: 500
         font-size: 20px
         line-height: 24px
         &:hover
            background-color: #DD3934
            color: #fff
.logo
   margin-right: 70px
   width: 249px
.social
   display: flex
   justify-content: space-between
   align-items: center
   min-width: 400px
   &-block
      display: flex
      align-items: center
      &__image
         margin-left: 25px
      &__text
         font-weight: 500
         font-size: 20px
         line-height: 24px
.menu 
   display: none
